package {{packageName}}

import dev.sirch.aoc.Day

class Day{{day}}(testing: Boolean = false): Day({{year}}, {{dayNr}}, testing) {
  override fun part1(): Int {
    return inputLines.size
  }

  override fun part2(): Int {
    return inputLines.size
  }
}
